In [0]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

import os

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [0]:
os.listdir('/content')

In [0]:
app_train['col'].value_counts()
# app_train.col.value_counts()
# expect set of values with coressponding counts

In [0]:
app_train['col'].astype(int).plot.hist()

In [0]:
df.isnull().sum() # col 마다 missing value 몇 개 인지 갯수 반환
100 * df.isnull().sum() / len(df) # col 마다 missing percent 반환

pd.concat([mis_val, mis_val_percent], axis = 1)

mis_val_table.rename(columns = {0: 'Missing Values',
                               1: 'blahblah'})

df = df[df.iloc[:, 1] != 0] # df의 row는 다 보고 col 은 첫번째, target 만 보고 0이 아닌 애들만 고름
df.sort_values('col', ascending = False).round(1) 소숫점 첫째자리만 남김

str(df.shape[1]) # col 길이

In [0]:
# 오브젝트로 열의 자료형이 결정되어있는 애들만 따로 빼서 / 각각 오브젝트가 몇개 있는지 검사함
app_train.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

# pd.Series.nunique(app_train['TARGET']) -> 2

![image](https://user-images.githubusercontent.com/46298038/66701664-a180c380-ed39-11e9-94d7-6f67a527f951.png)


In this notebook, we will use Label Encoding for any categorical variables with only 2 categories and One-Hot Encoding for any categorical variables with more than 2 categories. This process may need to change as we get further into the project, but for now, we will see where this gets us. (We will also not use any dimensionality reduction in this notebook but will explore in future iterations).

In [0]:
le = LabelEncoder() # from sklearn preprocessing
le_count = 0

for col in df:
    if df[col].dtype == "object":
        if len(list(df[col].unique())) <= 2 :
            le.fit(df[col])
            
            # test랑 train 둘다 transform 하기
            df[col] = le.transform(df[col])
            le_count += 1
print("%d cols are label encoded" % le_count)

In [18]:
import pandas as pd
df = pd.Series(list('abca'))
print(pd.get_dummies(df))
df = pd.DataFrame({'Ameyo': ['ares', 'biso', 'atopy'], 'Bynto': ['borez', 'axte', 'crayon'],
                  'Aeyo': ['txy', 'seee', 'xiit'],'Cynto': [1, 2, 3]})
print(pd.get_dummies(df))
# print(pd.get_dummies(df, prefix=['col1', 'col2']))

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
   Cynto  Ameyo_ares  Ameyo_atopy  ...  Aeyo_seee  Aeyo_txy  Aeyo_xiit
0      1           1            0  ...          0         1          0
1      2           0            0  ...          1         0          0
2      3           0            1  ...          0         0          1

[3 rows x 10 columns]

In [35]:
df[(df['Cynto']<4) & (df['Aeyo'].str.startswith('s'))]

  Ameyo Bynto  Aeyo  Cynto
1  biso  axte  seee      2

In [26]:
df.loc[:,df.columns.str.contains('o')]

   Ameyo   Bynto  Aeyo  Cynto
0   ares   borez   txy      1
1   biso    axte  seee      2
2  atopy  crayon  xiit      3

In [0]:
label = df_tr['target']
df_tr, df_ts = df_tr.align(df_ts, join = 'inner', axis = 1) # align test data to train by col

df_tr['target'] = label

In [0]:
(df['birth'] / - 365).describe() # 아웃라이어 확인하기

In [0]:
df['day_employed'].plot.his(title = 'day employed hist')
plt.xlabel('day employed')

In [0]:
anom = df[df['day_employed'] == 365243]
non_anom = df[df['day_employed'] != 365243]

100  * anom['target'].mean # anom 중에 대출금 갑지 못한 사람들

In [0]:
df['days employed anom'] = df['days employed'] == 365243 # 불리언으로 저장될거임

df['days employed'].replace({365243 : np.nan}, inplace=True)
df['days employed anom'].sum() # true 가 1 이라는 거 이용해서 갯수 세기

In [0]:
corr = df.corr()['target'].sort_values() # target 이랑 상관관계 있는 지를 알고싶고 정렬할거야

corr.head() # most positive
corr.tail() # most negative

In [0]:
# 특정 열끼리 상관관계

df['A'].corr(df['B'])

In [0]:
plt.style.use('fivethirtyeight')
plt.hist(df['col'], edgecolor = 'k', bins=25)
plt.title(); plt.xlabel(); plt.ylabel

In [0]:
plt.figure(figsize=(12, 8))

sns.kdeplot(df.loc[df['target']==0, 'birth'] / 365, label = 'target = 0') # x 축 나이대 (년), y 축 밀집분포
sns.kdeplot(df.loc[df['target']==1, 'birth'] / 365, label = 'target = 1')
plt.xlabel...

In [0]:
age = df[['target', 'birth']]
age['year_birth'] = age['birth'] / 365

age['year_binned'] = pd.cut(age['year birth'], bins = np.linspace(20, 70, num = 11))

In [0]:
age_group = age.groupby('year_binned').mean() # 각 bin 마다 평균 보여주기

In [0]:
plt.figure(figsize =(8,8))
plt.bar(age_group.index.astype(str), 100 * age_group["target"])

plt.xticks(rotation = 75)

In [0]:
corr = df.corr()
plt.figure
sns.heatmap(corr, cmap = plt.cm.RdYlBu_r, vim = -0.25, annot=True, vmax=0.6)

In [0]:
plt.figure

for i, source in enumerate(['A', 'B', 'C']):
    plt.subplot(3, 1, i+1)
    
    sns.kdeplot(df.loc[df['target'] == 0, source], label = '')
    sns.kdeplot(df.loc[df['target'] == 1, source], label = '')
    
    plt.title
    plt.xlabel('%s' % source); plt.ylabel
    
plt.tight_layout(h_pad = 2.5)

In [0]:
>>> g = sns.PairGrid(iris, hue="species") # 종에 따라 색깔 구분
>>> g = g.map_diag(plt.hist)
>>> g = g.map_offdiag(plt.scatter)
>>> g = g.add_legend()

>>> g = sns.PairGrid(iris, vars=["sepal_length", "sepal_width"]) # subset 만

>>> g = sns.PairGrid(iris)
>>> g = g.map_upper(plt.scatter)
>>> g = g.map_lower(sns.kdeplot, cmap="Blues_d")
>>> g = g.map_diag(sns.kdeplot, lw=3, legend=False)

In [0]:
data_for_plot = data.drop(columns = ['col']).copy()

# data_for_plot -> dfp
# 고객들의 나이 추가
dfp['year birth'] = df['year birth']

# na 값과 지우고 10만 개만 하기
dfp = dfp.drop_na().loc[:100000, :]

# Func to corr coeff betw two cols
def corr_func(x, y, **kwargs):
    r = np.corrcoef(x, y)[0][1]
    ax = plt.gca()
    ax.annotate("r = {:.2f}".format(r),
               xy = (.2, .8), xycoords=ax.transAxes, size = 20)

# Create 페어그리드 오브젝트
grid = sns.PairGrid(data = plot_data, size = 3, diag_sharey=False, hue='target',
                   vars = [x for x in list(plot_data.columns) if x != 'target'])

grid.map_upper(plt.scatter, alpha = 0.2)

# Diagonal is a histogram
grid.map_diag(sns.kdeplot)

# Bottom is density plot
grid.map_lower(sns.kdeplot, cmap = plt.cm.OrRd_r)

plt.suptitle('Ext source and Age features pairs plot', size = 32, y = 1.05)

피쳐 엔지니어링 전까지 끝냄